


.main-container{
    
    margin: 0;
    background-size: contain;
    background-color: #96be8d;
    
    overflow: hidden;
    height: 100vh;
    mix-blend-mode: soft-light;
    
}

.chatlist-heading-text{

    margin-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.chatlist-heading-text p{
    color: #707579;
    font-size: .9rem;
}

.chatlist-time{
    margin-left: auto;
    color: #707579;
    
}

.chatlist-time p{
    font-size: .8rem;
}


.menu-header{
    display: flex;
    height: 48px;
    align-items: center;
    margin-left: .7rem;
    margin-right: 1rem;
}


.drawer-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem .6rem 1rem;
}

.profile-name{
    font-size: 14px;
}

.toggleButton{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.chatlist {
    position: relative;
    height: 90vh;
    overflow: auto;
}

.chatlist::-webkit-scrollbar{
    width: 5px;
}

.chat-messages-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3390ec;
    margin: 0;
    padding: .5rem;
    z-index: 4;
}

.item-1, .item-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.background-img{
    background-image: url(../images/background.svg);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    mix-blend-mode: soft-light;
    z-index: -1;
}